.container-sidebar {
  background-color: grey;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.container-middle {
  margin-left: 7%;
  margin-right: 3%;
  margin-top: 3%;
  margin-bottom: 3%;
  background-color: white;
  height: 80vh;
  border-radius: 5px;
}

.container-create {
  border: 1px solid green;
}

.table-title {
  font-size: 32px;
  font-weight: bold;
  margin-left: 5px;
}

.home-title {
  font-size: 50px;
  padding: 15px;
  font-weight: bold;
}

.home-text {
  font-size: 30px;
  font-weight: bold;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.subtitle {
  font-size: 24px;
  font-weight: bold;
  margin-left: 3%;
  margin-top: 3%;
  margin-bottom: 1%;
}

.textfield-user {
  margin-left: 5%;
  margin-top: 1%;
}

.bxs-info-circle {
  margin-left: 1%;
}

.report {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 5px;
  color: white;
  background: #a200ff;
  cursor: pointer;
  width: 375px;
  height: 75px;
  font-size: 30px;
  border: none;
}

.report:hover {
  background-color: hsl(278, 100%, 22%);
}

.button-change {
  width: 175px;
  height: 30px;
  float: right;
  margin-right: 2%;
  border: 1px;
  border-radius: 5px;
  color: white;
  background: #a200ff;
  cursor: pointer;
}

.button-change:hover {
  background-color: hsl(278, 100%, 22%);
}

.button-types {
  border: 1px;
  border-radius: 5px;
  color: white;
  background: #a200ff;
  cursor: pointer;
  width: 175px;
  height: 30px;
}
.button-types:hover {
  background-color: hsl(278, 100%, 22%);
}
