@import '../pages/login/style.css';
@import '../pages/recover_password/style.css';
@import '../components/sidebar/style.css';
@import '../pages/dashboard/style.css';

.container-father {
  display: flex;
  height: 100vh;
}

.container-left {
  float: left;
  width: 75%;
  background-color: #a200ff;
  display: flex;
}

.text-grafia {
  color: #fff;
  font-size: 4rem;
}

.text-cidade {
  color: #000000;
  font-size: 4rem;
}

.title {
  color: #a200ff;
  font-size: 30px;
  font-weight: bold;
}
